* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 0.5rem;
}
h1 {
  font-size: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.memes {
  padding-left: 2rem;
  
  padding-right: 2rem;
}
.memes  .image{
    visibility: hidden;  
}
.memes:hover .image{
    visibility: visible; 
}
.memes:hover .wraper{
    color: blue;
}
 .wraper:hover .meme{

    display: block;
}

 .wraper:hover .icon-plus{
display: none;
   
}
.wraper:hover .icon-xmark{
display: inline;


   
}
div{
 border-top: 0.1rem solid;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.wraper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1rem 1fr;
  align-items: center;
 
}


label {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  
}

div:last-child {
  border-bottom: 0.1rem solid;
}
.icon-plus {
  
  width: 0.5rem;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: end;

}
.icon-xmark{
    display: none;
     width: 0.5rem;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: end;

}
.meme {
    display: none;
   width: 100px;
   height: 100px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0 auto;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  
  } 
  .check:focus ~ .meme {
      display: block;
      visibility: visible;
      
}
  .check:focus + p {
    color: black;
}
 .check:focus ~ .icon-xmark {
      display: block;
      visibility: visible;
}
 .check:focus ~ .icon-plus {
      display: none;
      visibility: visible;
}

   .check{
       appearance: none;   
    grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 1;
      grid-row-end: 2;
  }
  .chec1{
       appearance: none;   
    grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 1;
      grid-row-end: 2;
  }



